data/
artifact/
**/artifacts/
**/models/
**.vscode/
__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*
old-tran.py
passwords.txt
scripts/set_env_test.sh
save/
*.ipynb
*.db
*.out
*.err
*.pem
extra.txt
