[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "==1.28.0"
optuna = "==2.10"
nltk = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
beautifulsoup4 = "*"
kaggle = "*"
prefect = "==2.3.1"
boto3 = "*"
protobuf = "~=3.19"
pandarallel = "*"
evidently = "==0.1.51.dev0"

[dev-packages]
ipykernel = "*"
pre-commit = "*"
black = "*"
isort = "*"
pytest = "*"
pylint = "*"
deepdiff = "*"
pytest-dotenv = "*"
requests = "*"

[requires]
python_version = "3.9"
