[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mlflow = "*"
optuna = "==2.10"
nltk = "*"
numpy = "*"
pandas = "*"
sklearn = "*"
beautifulsoup4 = "*"
tensorflow-cpu = {file = "https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow_cpu-2.9.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl"}
kaggle = "*"
prefect = "==2.0b8"

[dev-packages]
ipykernel = "*"
pre-commit = "*"
black = "*"
isort = "*"
pytest = "*"
pylint = "*"
deepdiff = "*"

[requires]
python_version = "3.9"
